html {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Henny Penny", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4d0f19;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
